header{
	background-image: url("../images/bg.jpg");
	height: 170px;
}
.headertable{
	float:right;
	margin-top: 70px; 
}
.logo{
	margin-top: 50px;
	margin-left: 200px;
	/*margin-right: 100px;*/
}
.headertable{
	float: right;
	margin-top: 50px;
	margin-right: 100px;

}

.home a:hover{
	color: green;

}
.shome a{
	color:gray ;

}
.shome a:hover{
	color: white;
}
.icon1 a :hover{ 
	/*color:  url("../images/menu_icon1_active.gif")*/

}
.img4{
	width: 100%;
}
.home a:focus{
	color: maroon;
  }

.bord1{
 /*border-bottom: 1px solid gray;*/
    border-bottom-style:inset;
    border-bottom-width: 1px;
    width: 47%;
    margin-top: 80px;
    display: inline-block;
    padding-bottom: 30px;
}
.img1{
width: 100%;
height: 20px;

}
.class1{ 
	/*border-bottom: 1px solid gray;*/
	border-bottom-style:inset;
    border-bottom-width: 1px;
	width: 20%;
	display:inline-block;
	margin-left: 85px;
	padding-bottom: 30px;
}
.formulaire{
	/*border:2px solid black;*/
	margin-top: 50px;
}
.inpu{
	margin-top: 5px;
	margin-left: 20px;
	width: 20%;
}
.text0{
	margin-left: 113px;
	margin-top: -12px

}
hr{
	width: 600px;
}
#city{
	/*margin-left: 26px;*/
}
#mail{
	margin-left: 7px;
}
#bouton1{
	width:60px;
	height:40px;
	background-color:rgb(137 206 53);
	margin-left: 667px;
	color:white;
	font-weight:bold;

}

.con{
	margin-left: 930px;
	margin-top: -430px;
	opacity: 0.5;
}
#bouton2{
	width:60px;
	height:40px;
	background-color:rgb(137 206 53);
	color:white;
	font-weight:bold;

}
/*.para{
	margin-left: 1050px;
	margin-top: 50px*/
}
/*hr{*/
	/*margin-left: 100px;*/
	/*margin-top: 30px;*/
}
.para1{
	float: right;
	margin-left: 500px;
}
.C_div{
	/*border:2px solid black;*/
	width: 80%;
	margin-left: 10%;
	margin-right:100px;
	margin-top: 50px;
}
.block{
	margin-top: -30px;
	margin-bottom: 180px;
	margin-left: 200px;
	left: 50px;
	top: -150px;
}
h2{
	font-size: 40px;
}
div a{
	color:green;
}

}
body{
	background:#000;
	font:14px trebuchet MS, Arial, Helvetica,sans-serif;
	color:#696969;
	line-height:22px;
}
.mis{
margin-left: 780px;
width:25%;
border-bottom-style:inset;
border-bottom-width: 1px;
padding-bottom: 10px;  
font-family: "Century-Gothic";
}
.co{
	margin-left: 750px;
	opacity: 0.; 

}
input{
	margin-left: 2%;
	margin-top: 5px;
	width: 250px;
}
.button{
	float: right;
	margin-right: 725px;
	margin-top: 20px;
	color: green; 
}
button{
	width: 80px;
	height: 35px;
	background-color:rgb(92 178 0);
	color: white;
	/*margin:20px;*/
}
form{
	margin-left: 200px;
	margin-top: -200px;
}
.corps{
	margin-bottom: 230px;
	/*margin-right: 50px;*/

}