.chif{
	margin-top: -90px;
	margin-left: 12px;
	font-size: 33px;
	color: white;
}
.chif1{
	margin-top: -40px;
	margin-left: 20px;
	font-size: 15px;
	color: white;
}
.news{
	margin-left: 50px;
	margin-top: 50px;
	
}
.news1{
	font-size: 40px;
	margin-left: 120px;
	margin-top: -60px;
}
.news2{
	margin-left: 50px;
	margin-top: -20px;
}
.news3{
	margin-top: -150px;
	width: 1000px;
	margin-left: 243px;
	text-align: justify;
}
.news3 a{
	text-decoration: none;
	color: green;
}
.news4{
	margin-left: 100px;
}
button{
	height: 35px;
	background-color: rgb(95 176 0);
	width: 30px;
	margin-right: -3px;
	border: none;

}
.news6{
	margin-left: 600px;
}
.news5{
	color: white;
	font-size: 18px;
}
.news7{
	background-color: rgb(106 106 106);
}
.back{
	width: 100%;
}
.news9{
   margin-bottom: 100px;
   margin-top: -10px;
   margin-left: 50px;
}