/*.header_div{
	height: 170px;
	background-image: url(../images/bg.jpg)
}
.header_img2{
	margin-top:50px; 
	margin-left: 200px;
}
.header_table{
	float: right;
	margin-top: 50px;
	margin-right: 100px;
}
.aaa{
	margin: 20px;
	text-decoration:none;
	color:white;
	font-family: arial;
	font-size: 20px;
}
.welc a{
	text-decoration: none;
	color:gray;
	font-family: normal;
	font-size: 12px;
}
.header_tr1 td{
	text-align: center;
}
.bg_slider{
	background-image: url(../images/bg_slider.gif);
	width: 100%;
	height: 400px;
}
.content_home{
	height: 200px;
	border: 1px solid green;
}

.header_tr{
	text-align: center;
	line-height: 10px;
}
.header_tr td{
	color: gray;
}
.tr_td1 a:hover{
	color: green;
}
.tr_td1 a:focus{
	color:maroon;
}
.bg{
	height: 250px;
	width: 100%;
	margin-top: 10px;
}
.welc a:hover{
	color: white;
}

footer{
	background-color: black;
	height: 380px;
	width: 100%;
}
.footer_tr{
	color: gray;
	margin-left: 50px;

}
.footer_tr td{
	padding-left: 100px;
	padding-top: 0px;
}
.footer_table{
	margin-top: -250px;
	margin-left: 70px;
}
#footer_id{
	color: white;
	font-size: 25px;
	line-height: 70px;
}
.footer_id1{
	padding-top: 50px;
}
.span_img{
	margin-top:10px;
	padding-right: 5px;
}
.email{
	color: white;
}
.footer_p{
	margin-left: 500px;
	color: gray;
	padding-top: 30px;
	line-height: 20px;
	outline-width: 20px;
	margin-left: 20px;
}
.footer_p a{
	color: white;
}
.input1{
	height: 30px;
	width: 250px;
	font-style: italic;
}

.td{
	text-align: right;
	height: 20px;
	width: 100px;
}
.soulign{
	position: relative;
	top:-10px;
	width: 180px;
}


section{
	text-align: center;
}
article{
	display: inline-block;
	text-align: justify;
	margin: 30px;
}
.P_div3,.P_div5,.P_div6,.P_div7,.P_div8,.P_div9{
	width: 270px;
	height: 120px;
	font-style: italic;
	color: rgb(98,103,117);
	font-weight: bold;
	font-size: 13px;

}
.P_titreprod{
	font-size: 30px;
	margin-left:66px;
	margin-top: -40px;
}
nav{
	margin-top: -80px;
}
.P_numero{
	font-weight:bold;
	font-size: 40px;
	margin-top: -57px;
	margin-left: 18px;
	color: rgb(255,255,255);
}
.ancrecolor{
	color: rgb(97,176,5);
	font-weight: bold;
	font-size: 13px;
}
.headergreenband{
	width: 100%;
	height: 20px;
}
.input1{
	font-style: italic;
}
.input2{
	font-weight: bold;
}
.footer_p{
	text-align: center;
}
*/